<section id="about">
    <div class="about__container">
      <div class="about__image">
        <div class="image__hero">
        <img src="/images/pancake_PNG116.webp" class="image__element" alt="" />
        </div>
      </div>
      <div class="about__description">
        <h2>Bine ați venit pe pagina noastră!</h1>
        <p>
          Din dragoste pentru clătite și pentru bucătărie în general, am
          înființat Clătităria La DANTE. Un mic colțișor dulce de rai situat
          în Parcul Central din Vatra Dornei, unde poți servi pe tihnă o
          porție de clătite delicioase, gătite de bucătari iscusiți după o
          rețetă proprie. De asemenea servim și răcoritoare, fresh-uri de
          fructe, cafea, apă, ceai și băuturi alcoolice pentru majori. Pentru
          că vrem să ne asigurăm că produsele noastre ajung la tot poporul din
          Țara Dornelor, și nu numai, acum livrăm și la domiciliu. Alege
          produsele dorite de pe site-ul nostru, dă o comandă iar noi ți le
          vom livra cât de repede se poate. Vă invităm la o porție de dulce!
          Nu vrei să comanzi de pe site? Atunci dă o comandă telefonică:
          0742687549
        </p>
        <div class="about__button">
          <a href="https://www.facebook.com/clatitarialadante" target="_blank"
            ><button class="btn--larger">Vizitează-ne pe Facebook</button></a
          >
        </div>
        <div class="about__mini-pictures">
          <div class="mini-1">
            <img src="images/about-icon-1.png" alt="" />
            <p id="mini-text">Clătite delicioase</p>
          </div>
          <div class="mini-2">
            <img src="images/about-icon-2.png" alt="" />
            <p id="mini-text">Băuturi răcoritoare</p>
          </div>
          <div class="mini-3">
            <img src="images/about-icon-3.png" alt="" />
            <p id="mini-text">Bucătari de excepție</p>
          </div>
        </div>
      </div>
    </div>
  </section>