<section class="cart-container">
  <i class="fas fa-times" id="cart-close"></i>
  <p class="cart-title">Coșul tău</p>
  <div class="cart-content">
    <div class="cart-box">
      <img src="images/item-card-photo-1.webp" alt="" />
      <div class="cart__details">
        <div class="cart__title">Titlu</div>
        <div class="cart__price">10 Lei</div>
        <input type="number" value="1" class="cart__quantity" />
      </div>
      <i class="fas fa-trash"></i>
    </div>
    <div class="cart-box">
      <img src="images/item-card-photo-1.webp" alt="" />
      <div class="cart__details">
        <div class="cart__title">Titlu</div>
        <div class="cart__price">10 Lei</div>
        <input type="number" value="1" class="cart__quantity" />
      </div>
      <i class="fas fa-trash"></i>
    </div>
  </div>
  <div class="cart-total">
    <div class="cart__total">Total</div>
    <div class="cart__price">10 Lei</div>
  </div>
  <button type="button" class="btn--larger" id="cart__btn">Cumpără</button>
</section>
