<section id="footer">
  <footer>
    <div class="details">
      <div class="program detail-icons">
        <i class="fas fa-clock" id="icons"></i>
        <p class="details-name">Program</p>
        <span class="details-info">10:00 - 18:00</span>
      </div>
      <div class="phone detail-icons">
        <i class="fas fa-phone" id="icons"></i>
        <p class="details-name">Telefon</p>
        <span class="details-info">0742687549</span>
      </div>
      <div class="email detail-icons">
        <i class="fas fa-envelope" id="icons"></i>
        <p class="details-name">E-mail</p>
        <span class="details-info">clatitarialadante@gmail.com</span>
      </div>
      <div class="address detail-icons">
        <i class="fas fa-map" id="icons"></i>
        <p class="details-name">Adresă</p>
        <span class="details-info"
          >Vatra Dornei,<br />str. Oborului, nr. 7</span
        >
      </div>
    </div>
    <div class="social-media">
      <a href="https://www.facebook.com/clatitarialadante" target="_blank"
        ><i class="fa-brands fa-facebook-square squares"></i
      ></a>
      <a href="https://www.instagram.com/clatitarialadante/" target="_blank"
        ><i class="fab fa-instagram squares"></i
      ></a>
    </div>
    <div class="credit">
      <p>
        Website realizat de <span>Dante Media&#174;</span> | Toate drepturile
        rezervate&#169;
      </p>
    </div>
  </footer>
</section>
