<section class="preview-container">
  <div class="preview-item" data-target="item-1">
    <i class="fas fa-times" id="close-preview"></i>
    <img src="images/item-card-photo-1.webp" alt="" />
    <h3>Title</h3>
    <p class="preview-item__price">10 Lei</p>
    <p class="preview-item__description">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, quas?
    </p>
    <div class="counter-container">
      <input
        type="number"
        value="1"
        min="1"
        max="40"
        class="preview-item__quantity"
      />
    </div>
    <button class="preview-container__btn">Adaugă în coș</button>
  </div>
</section>
