<div class="menu__title">
  <p>Meniu</p>
  <h3>Clătite și băuturi</h3>
</div>
<section class="menu" id="menu">
  <div class="card__container" data-name="item-1">
    <div class="card__text">
      <div class="card__title">
        <h3>Titlu</h3>
      </div>
      <div class="card__description">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, odit?
        </p>
      </div>
      <div class="card__price">
        <p>10 Lei</p>
      </div>
    </div>
    <div class="card__image">
      <img src="images/item-card-photo-1.webp" alt="" />
    </div>
  </div>
  <div class="card__container">
    <div class="card__text">
      <div class="card__title">
        <h3>Titlu</h3>
      </div>
      <div class="card__description">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, odit?
        </p>
      </div>
      <div class="card__price">
        <p>10 Lei</p>
      </div>
    </div>
    <div class="card__image">
      <img src="images/item-card-photo-1.webp" alt="" />
    </div>
  </div>
  <div class="card__container">
    <div class="card__text">
      <div class="card__title">
        <h3>Titlu</h3>
      </div>
      <div class="card__description">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, odit?
        </p>
      </div>
      <div class="card__price">
        <p>10 Lei</p>
      </div>
    </div>
    <div class="card__image">
      <img src="images/item-card-photo-1.webp" alt="" />
    </div>
  </div>
  <div class="card__container">
    <div class="card__text">
      <div class="card__title">
        <h3>Titlu</h3>
      </div>
      <div class="card__description">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, odit?
        </p>
      </div>
      <div class="card__price">
        <p>10 Lei</p>
      </div>
    </div>
    <div class="card__image">
      <img src="images/item-card-photo-1.webp" alt="" />
    </div>
  </div>
</section>
