<header class="header">
  <nav class="navbar">
    <a href="#" class="navbar__title"
      ><i class="fas fa-utensils utensils"></i>Clătităria La DANTE</a
    >
    <div class="navbar__icons">
      <a href="#" id="cart-link"
        ><i class="fas fa-shopping-cart" id="cart"></i
      ></a>
      <div class="menu-button fas fa-bars" id="menu-btn"></div>
    </div>
    <ul class="navbar__list">
      <li><a href="#home">Acasă</a></li>
      <li><a href="#">Despre noi</a></li>
      <li><a href="#">Meniu</a></li>
      <li><a href="#">Galerie</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>
