<section class="home" id="home">
  <div class="swiper home-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide slides slide1">
        <div class="slide-content">
          <span>clătite delicioase</span>
          <h1>gătite cu dragoste</h1>
          <a href="#"><button class="btn">Comandă</button></a>
        </div>
      </div>
      <div class="swiper-slide slides slide2">
        <div class="slide-content">
          <span>clătite delicioase</span>
          <h1>răsfăț</h1>
          <a href="#"><button class="btn">Comandă</button></a>
        </div>
      </div>
      <div class="swiper-slide slides slide3">
        <div class="slide-content">
          <span>clătite delicioase</span>
          <h1>rețetă autentică</h1>
          <a href="#"><button class="btn">Comandă</button></a>
        </div>
      </div>
    </div>
    <div class="swiper-button-next" id="swiper-buttons"></div>
    <div class="swiper-button-prev" id="swiper-buttons"></div>
    <div class="swiper-pagination"></div>
  </div>
</section>
